body{
  margin: 0;
}

.hover:hover{
  cursor: pointer;
}

.parent-flex{
  display:flex;
  flex-direction: column;
}

.parent-header{
  background-color: #333;
  height: 13vh;
  top:5px;
}
.tv-img{
  position: relative;
  top: 10px;
  margin-left: 10px;
}

.parent-main{
  display: flex;
  background-color: #ECECEC;
}

.main-left{
  width: 50%;
  display: flex;
}

.pick-of-the-week{
  margin: auto;
}

.main-right{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
}

.icons-genres{
  width:90%;
  display: flex;
  justify-content: space-between;
}

.browse-by-genre{
  margin: 25px 0 10px 0;
}

.now-playing{
  margin: 25px 0px 25px 0;
  width: 41rem;
  height: 14rem;
}

.parent-slider{
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.margin-around{
  margin: 20px;
}

#slide{
  width: 90%;
}

.show-pic{
  margin: auto;
  height: 11.5rem;
}

.search{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-margin{
  margin: 0;
}

.no-margin ~ p{
  margin: 0;
}

.searchMain{
  display: flex;
}

.show-search-div{
  display: flex;
  width: 30%;
  height: 35vh;
  overflow: hidden;
}


.show-pic-search{
  height: 30vh;
  margin: 10px;
}

h4 ~ p {
  font-size: 1rem;
}



.leftSearch{
  width: 40%;
}

.rightSearch{
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.bold{
  font-weight: 900;
  margin-right: 5px;
}

button{
  background-color: rgb(0, 119, 255);
  margin-left: 5px;
  padding: 8px 45px 8px 45px;
  color:white;
}

#input-for-search{
  width: 400px;
  height:25px;
}

.center-text{
  text-align: center;
}

.show-return{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-top: 50px;
}

.center{
  justify-content: center;
}

.not-found{
  justify-content: center;
}

.show-return > div{
  border: black 1px solid;
  margin-right: 30px
}


.footer{
  display: flex;
  font-family: arial;
  height: 7vh;
  background-color: #FFF;
  color:#333;
  align-items: center;
  justify-content: center;
}




@media screen  and (max-width: 1500px){
  #slide{
    width: 90%;
  }

  h4 ~ p {
  font-size: .7rem;
}
.rightSearch{
  font-size: .8rem;
}

.show-search-div{
  height: 40vh;
}

  .show-search-div{
  height: auto;
}

  .show-pic-search{
    height: 20vh;
  }
}

@media screen  and (max-width: 1500px) and (max-height: 1000px)  {
  .show-pic-search{
    height: 32vh;
  }
}

@media screen  and (max-width: 1300px){
  .tv-img{
    width: 10rem
}
  .pick-of-the-week{
    height: 16rem;
}

  .icons-genres > img{
    height: 7rem;
}
  .browse-by-genre{
    width: 15rem;
}

  .now-playing{
    width: 32rem;
    height: 10rem;
}

  .show-pic{
    height: 6rem;
}

  .margin-around{
    margin: 12px 0 15px 0;
}

  .tomorrows-schedule{
    height: 1.5rem;
}
}

@media screen and (max-width: 1035px) {
  .tv-img{
    height: 5rem;
    width: 15rem;
}
  .pick-of-the-week{
    height: 21rem;
}

  .icons-genres > img{
    height: 8rem;
}
  .icons-genres{
    width:95%;
}
  .now-playing{
    width: 24rem;
    height: 10rem;
}
  .show-pic{
    height: 8rem;
}
  h4 ~ p {
  font-size: .5rem;
}
.rightSearch{
  font-size: .6rem;
}
  .show-pic-search{
    height: 18vh;
  }

}

@media screen and (max-width: 1035px) and (min-height: 1070px){
  .tv-img{
    margin-top: 40px;
}
  .show-pic{
    height: 12rem;
}
  .tomorrows-schedule{
    height: 3rem;
    margin: 20px 0 35px 0;
}
  .now-playing{
    width: 31rem;
    height: 13rem;
}
  .browse-by-genre{
    width: 25rem;
    height: 4rem;
  }

  h4 ~ p {
  font-size: .5rem;
}
  .rightSearch{
  font-size: .7rem;
}
  .show-search-div{
  height: 14vh;
}
  .show-pic-search{
    height: 11vh;
  }
}

@media screen and (max-width: 915px) {
  .pick-of-the-week{
    height: 15rem;
}
  .tomorrows-schedule{
    height: 2.5rem;
    padding-bottom: 15px;
}
  .show-pic{
    height: 9rem;
}
  .footer{
    font-size: 11px;
  }
    h4 ~ p {
  font-size: .43rem;
}
  .rightSearch{
  font-size: .5rem;
}
  .show-search-div{
  height: 15vh;
}
  .show-pic-search{
    height: 11vh;
  }
  .icons-genres > img {
    height: 5rem;
  }
  .now-playing {
    width: 20rem;
    height: 9rem;
}
.icons-genres{
  width: 85%;
}
}
@media screen and (max-width: 790px) and (min-height: 1015px){
  .tv-img{
    top: 25px;
}
}

@media screen and (max-width: 815px) and (max-height: 415px){
  .tv-img{
    height: 2.5rem;
    width: 7rem;
    top: 4px;
}
  .parent-main{
    padding: 10px;
  }
  .pick-of-the-week{
    height: 11rem;
}
  .icons-genres > img{
    height: 4rem;
}
  .now-playing{
    width: 14rem;
    height: 4rem;
    margin: 0;
}
  .browse-by-genre{
    width: 10rem;
    height: 1.5rem;
    margin: 0;
  }

  .show-pic{
    height: 6rem;
}
  .tomorrows-schedule{
    height: 1.15rem;
    padding-bottom: 10px;
}
  .margin-around{
    margin: 0;
  }

      h4 ~ p {
  font-size: .43rem;
}
  .rightSearch{
  font-size: .4rem;
}
  .show-search-div{
  height: 36vh;
}
  .show-pic-search{
    height: 30vh;
  }

}

 @media screen and (max-width: 740px) {
  .show-pic-search{
    height: 25vh;
  }
   h4 ~ p {
  font-size: .4rem;
}
  .rightSearch{
  font-size: .4rem;
}
  .show-search-div{
  height: 33vh;
}
 }

 @media screen and (max-width: 655px) {
  .tv-img{
    margin-bottom: 25px;
    margin-left: 55px;
}
  .parent-main{
    flex-direction: column;
  }
  .main-left, .main-right{
    width: 100%
  }
  .pick-of-the-week{
    height: 15rem;
    margin-top: 15px;
}
  .icons-genres > img{
    height: 4.25em;
}
  .now-playing{
    width: 22rem;
    height: 8rem;
  }
  .browse-by-genre, .icons-genres > img, .now-playing{
    margin-left: 10px;
  }
  .parent-flex{
    height: 100%;
  }
  .parent-slider{
    height: 19vh;
  }
  .show-pic{
    height: 6rem;
}
  #slide{
    width: 85%;
  }
  .tomorrows-schedule{
    height: 1.75rem;
    padding-bottom: 0px;
  }
  #search-target{
    text-align: center;
  }
  #input-for-search{
    margin: 10px;
    width: 315px;
    border: 1px black solid
  }

  .show-return{
    flex-direction: column;
    margin-left: 35px;
  }
  .show-search-div{
    width: 90%;
  }
   h4 ~ p {
  font-size: .72rem;
}
  .rightSearch{
  font-size: .75rem;
}
  .show-search-div{
  height: auto;
}
}


 @media screen and (max-width: 655px) {
   h4 ~ p {
  font-size: .62rem;
}
  .show-pic{
    height: 5rem;
  }
  .icons-genres{
  width: 95%;
}
  .show-pic-search{
    height: 21vh;
  }
  .parent-header{
    height: 15vh;
  }
 }
