body{
  margin: 0;
}

.parent-flex{
  display:flex;
  flex-direction: column;
  width: 100vw;
  height:100vh;
}

.parent-header{
  background-color: #333;
  height: 13%;
  top:5px;
}
.tv-img{
  position: relative;
  top: 10px;
  margin-left: 10px;
}

.parent-main{
  display: flex;
  background-color: #ECECEC;
  height: 50%;

}

.main-left{
  width: 50%;
  display: flex;
}

.pick-of-the-week{
    margin: auto;
}

.main-right{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 52%;
}

.icons-genres{
  width:70%;
  display: flex;
  justify-content: space-between;
}

.browse-by-genre{
  margin: 25px 0 10px 0;
}

.now-playing{
  margin: 25px 0px 25px 0;
  width: 40rem;
  height: 13rem;
}

.parent-slider{
  background-color: #333;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin-around{
  margin: 20px;
}

#slide{
    width: 90%;
}

.slick-slider{
      width:100%;
}


.show-pic{
  margin-left: 60px;
  height: 11.5rem;
}

.footer{
  display: flex;
  height: 5%;
  background-color: #FFF;
  color:#333;
  align-items: center;
  justify-content: center;
}
@media screen  and (max-width: 1300px){
.tv-img{
  width: 10rem
}
.pick-of-the-week{
  height: 16rem;
}

.icons-genres > img{
  height: 5rem;
}
.browse-by-genre{
  width: 15rem;
}

.now-playing{
    width: 25rem;
    height: 8rem;
}

.show-pic{
  height: 6rem;
}

.margin-around{
  margin: 12px 0 15px 0;
}

.tomorrows-schedule{
  height: 1.5rem;
}
}


 @media screen and (max-width: 1035px) {
.tv-img{
  height: 5rem;
  width: 15rem;
}
.pick-of-the-week{
  height: 21rem;
}

.icons-genres > img{
  height: 8rem;
}
.icons-genres{
  width:95%;
}
.now-playing{
    width: 24rem;
    height: 10rem;
}

.show-pic{
  height: 8rem;
}
}
 @media screen and (max-width: 1035px) and (min-height: 1070px){
  .tv-img{
  margin-top: 40px;
}
  .show-pic{
  height: 12rem;
  margin-left: 0;
}
  .tomorrows-schedule{
  height: 3rem;
  margin: 20px 0 35px 0;
}
  .now-playing{
    width: 31rem;
    height: 13rem;
}
  .browse-by-genre{
    width: 25rem;
    height: 4rem;
  }
 }

@media screen and (max-width: 915px) {
  .pick-of-the-week{
  height: 15rem;
}
  .tomorrows-schedule{
  height: 2.5rem;
  padding-bottom: 15px;
}
  .show-pic{
  height: 9rem;
  margin-left: 0 ;
}
  .footer{
    font-size: 11px;
  }
}
 @media screen and (max-width: 790px) and (min-height: 1015px){
  .tv-img{
  top: 25px;
}
}

 @media screen and (max-width: 815px) and (max-height: 415px){
.tv-img{
  height: 2.5rem;
  width: 7rem;
  top: 4px;
}
.pick-of-the-week{
  height: 11rem;
}
.icons-genres > img{
  height: 4rem;
}
.now-playing{
    width: 14rem;
    height: 4rem;
    margin: 0;
}
  .browse-by-genre{
    width: 10rem;
    height: 1.5rem;
    margin: 0;
  }

.show-pic{
  height: 4rem;
  margin-left: 30px;
}
  .tomorrows-schedule{
  height: 1.15rem;
  padding-bottom: 10px;
}
  .margin-around{
    margin: 0;
  }
}

 @media screen and (max-width: 655px) {
  .tv-img{
    margin-bottom: 25px;
    margin-left: 55px;
}
  .parent-main{
    flex-direction: column;
  }

  .main-left, .main-right{
    width: 100%
  }

  .pick-of-the-week{
  height: 15rem;
  margin-top: 15px;
}
  .icons-genres > img{
  height: 4.25em;
}
  .now-playing{
    width: 22rem;
    height: 8rem;
  }
  .browse-by-genre, .icons-genres > img, .now-playing{
    margin-left: 10px;
  }
  .parent-flex{
    height: 100%;
  }
  .parent-slider{
    height: 23vh;
  }

  .show-pic{
  height: 3rem;
  margin-left: 0px;
}
  #slide{
    width: 85%;
  }
  .tomorrows-schedule{
    height: 1.75rem;
  }
  }
