body{
  margin: 0;
}

.parent-flex{
  display:flex;
  flex-direction: column;
  width: 100vw;
  height:100vh;
}

.parent-header{
  background-color: #333;
  height: 13%;
  top:5px;
}
.tv-img{
  position: relative;
  top: 10px;
  margin-left: 10px;
}

.parent-main{
  display: flex;
  background-color: #ECECEC;
  height: 50%;

}

.main-left{
  width: 50%;
  display: flex;
}

.pick-of-the-week{
    margin: auto;
}

.main-right{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 52%;
}

.icons-genres{
  width:70%;
  display: flex;
  justify-content: space-between;
}

/* .icons-genres > img{
  height: 15vh;
} */

.parent-slider{
  background-color: #333;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin-around{
  margin: 20px;
}

#slide{
    width: 90%;
}

.slick-slider{
      width:100%;
}


.show-pic{
  margin-left: 60px;
  height: 170px;
}

.footer{
  display: flex;
  height: 5%;
  background-color: #FFF;
  color:#333;
  align-items: center;
  justify-content: center;
}
